<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {title: "Jerseys Index Page"}) %>

<body>
<%- include("../partials/head.ejs") %>
<main>
<div>
<% for (jersey of jerseys) { %>


<a href="/new"><button>CREATE JERSEY</button></a>

<a href="/show"><button>DELETE JERSEY</button></a>

<article>
<a href="/jerseys/<%= jerseys._id %>">
<%= jersey.name%>
<%= jersey.team%>
<%= jersey.number%>
</a>
</article>

<% } %>
</div>
</main>
</body>
</html>