<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {title: "Jerseys Index Page"}) %>

<body>
<%- include("../partials/head.ejs") %>
<main>
<div>
<% for (jersey of jerseys) { %>


<a href="/jersey/new"><button>CREATE JERSEY</button></a>

<form action="/jersey"><button>DELETE JERSEY</button></form>

<article>
<a href="/jersey/<%= jersey._id %>">
<%= jersey.name%>
<%= jersey.team%>
<%= jersey.number%>
<style>
    div {
text-align: center;
    }
</style>
</a>
</article>

<% } %>
</div>
</main>
</body>
</html>