<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs", { title: "Jerseys Index Page" }) %>

<body>
  <main>
    <div>
      <a href="/jersey/new"><button>CREATE JERSEY</button></a>

      <!-- Move DELETE JERSEY outside the loop -->
      <form action="/jersey" method="POST">
        <button>Delete JERSEY</button>
      </form>

      <% for (jersey of jerseys) { %>
        <article>
          <a href="/jersey/<%= jersey._id %>">
            <%= jersey.name %>
            <%= jersey.team %>
            <%= jersey.number %>
          </a>

          <!-- Move the delete form inside the loop -->
          <form action="/jersey/<%= jersey._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </article>
      <% } %>
    </div>
  </main>
</body>

</html>