<!DOCTYPE html>
<html lang="en">


<body>

<main>
<div>
<h2><%= jersey.name %></h2>
<h3><%= jersey.team %></h3>
<h3><%= jersey.number %></h3>
<a href="/jerseys/<%= jersey._id %>/edit"><button>Edit</button></a>
<form action="/jerseys/<%= jersey._id %>?_method=DELETE" Method="POST">
  <button>Delete</button>
</form>
<a href="/jerseys/"><button>Back to Main</button></a>
</div>
</main>
</body>
</html>